<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Pierre Feuille Ciseaux</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!--<script src="/static/game.js"></script>-->
</head>
<body>

<div class="text-center">
  <h1>We are waiting for you again 🥰!</h1> 
  <div>
      <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExMHZ0OXNmNXEwMGR0NDRvaTc0aTBza29jMm1mcmZyaDRqNGNjdWI5ayZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/VelWewgR6CpNK/giphy.gif" width="50%" alt="Un robot qui pleure">
    </div>
    <div><br>
        <a href="index.html">
            <button type="button" class="btn-lg btn-primary" disabled style="cursor: none;">Good bye ❤️</button>
        </a>
    </div>
</div>
</body>
</html>
